.nav-bar-container{
    position: fixed;
    height: 70px;
    width: 100%;
    /* background-color: black; */
    background: linear-gradient(148deg, #0F0F0F 0%, #212121 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 20;
}

.bar-logo{
    height: 90%;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
}

.link-data{
    /* background-color: green; */
    margin: 0px 8px;
    text-decoration: none;
}

.link-data p{
    font-family: Inter;
    color: white;
    font-size: 24px;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 1022px){

    .nav-menu{
        /* display: none; */
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.9s ease;
    }

    .nav-links2-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #5A189A;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        max-height: 200px;
        cursor: pointer;
        transition: max-height 0.3s, opacity 1s, visibility 1.5s ease;
    }

    .nav-links2-mobile a{
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px 0px;
        padding: 20px 0px;
        cursor: pointer;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        /* background-color: #5A189A; */
        background-color: transparent;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}